/* begin Page */

/* Created by Artisteer v3.1.0.46558 */

#page-background-glare{
   display: none;
}
.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='header-png');
   z-index: 1;
}

.header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 304px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Box, Sheet */
.sheet {
   background:#F9FAFB;
}
/* end Box, Sheet */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 38px;
   background:#3CAA3C;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #F2F5F7;
   padding: 0 17px;
   line-height: 26px;
   text-align: center;
}

.hmenu a.active 
{
   color: #FFFF14;
   background-color:#42AE42;
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #FFFF14;
   background-color:#3CAA3C;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'9px');
}
ul.hmenu li li{
   margin-left:0;
}

span.hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 26px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #FEE4D7 !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #000000 !important;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#F9FAFB;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   background:#C8A2C8;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#F9FAFB;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'0');
}
ul.vmenu ul{
   margin-top:0;
   padding-bottom: 0;
}

ul.vmenu a 
{
   color: #FFFFFF;
   background-color:#A989B8;
   padding: 0 10px 0 22px;
   height: 28px;
   line-height: 28px;
}

.vmenu a.active 
{
   color: #AA3B03;
   background-color:#F9FAFB;
}

ul.vmenu a:hover
{
   color: #2F617F;
   background-color:#F9FAFB;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #394D60 !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.vmenu ul ul {
   margin-top:0;
}
ul.vmenu ul a.active {
   color: #A53903 !important;
}
ul.vmenu ul a:hover {
   color: #387599 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#F9FAFB;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#C8A2C8;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#F9FAFB;
}
.blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.post {
   background:#F9FAFB;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.post ul li, .post ol ul li
{
   height: 1%;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#F9FAFB;
}

.footer-text
{
   height: 33px;
}

.rss-tag-icon
{
   zoom: 1;
   font-size: 1px;
}

/* end Footer */

/* begin LayoutCell, content */
.sidebar2 {
   width: auto;
}
/* end LayoutCell, content */

form#form-login ul li
{
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

/* Plugin compatilibity. */

/* 150675, googlemap */
div.map img
{
   behavior: none;
   filter: none;
}
